.all-posts { padding: 6rem 2rem 5rem; }

.all-posts > div > div {
    display: grid;
    grid-template: auto / repeat(auto-fit, 15.5rem);
    grid-gap: 3rem; 
    justify-content: center; }

.post-container {
    cursor: pointer;
    display: grid;
    grid-template: 15rem auto / 15.5rem;
    grid-template-areas:
        "image"
        "date"
        "title";
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 2px var(--light);
    background: var(--dark) !important; }

.post-image { 
    grid-area: image; 
    object-fit: cover;
    height: 15.5rem; }

.post-title { grid-area: title; }

.post-date {
    grid-area: date;
    z-index: 0;
    padding: .25rem 0 0;
    height: 2rem !important;
    text-align: center; }