.all-posts { padding: 6rem 2rem 5rem; }

.all-posts > div > div {
    display: grid;
    grid-template: auto / repeat(auto-fit, 15.5rem);
    grid-gap: 3rem; 
    justify-content: center; }

.all-posts > div > div > h4 { text-align: center; }

.post-container {
    cursor: pointer;
    display: grid;
    grid-template: repeat(3, min-content ) / auto;
    grid-template-areas:
        "image"
        "date"
        "title";
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px var(--light);
    background: var(--background) !important; }

.post-image { 
    grid-area: image; 
    object-fit: cover;
    height: 15.5rem; }

.post-title { 
    color: var(--staticWhite) !important;
    grid-area: title; }

.post-date {
    grid-area: date;
    padding: .2rem 0 .35rem;
    text-align: center; }

@media (min-width: 1130px) { .all-posts > div > div > h4 { display: none; } }
@media (min-width: 1130px) { .all-posts > div > div > button { display: none; } }