.all-posts {
    max-width: 600px;
    display: grid;
    grid-template: auto / 15.5rem;
    grid-gap: 3rem;
    padding: 6rem 3rem 5rem 3rem;
    padding-inline: 2rem;
    justify-content: center; }
  
.all-posts > * { max-width: 500px; }

.post-container {
    cursor: pointer;
    display: grid;
    grid-template: 15rem auto / 15.5rem;
    grid-template-areas:
        "image"
        "title";
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 2px var(--light);
    background: var(--dark) !important; }

.post-image { 
    grid-area: image; 
    object-fit: cover;
    height: 15.5rem; }

.post-title {
    grid-area: title;
    align-self: center; }