.menu {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 20px;
    background: var(--darker) !important;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid var(--teal);  }

.single {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    background: var(--darker) !important;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid var(--teal); }

.all {
    cursor: pointer;
    display: grid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.25rem;
    color: transparent !important;
    background: transparent !important;
    border: none !important;  }

.all * {
    grid-row: 1;
    grid-column: 1; }

.all::after {
    background: var(--dark) !important;
    color: var(--light);
    padding: .5rem 2rem .6rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid var(--teal); }    

.all.ru::after { content: "обратно"; }
.all.en::after { content: "back home"; }