.menu {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 20px;
    background: var(--darker) !important;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid var(--teal);  }

.single {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    background: var(--darker) !important;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid var(--teal); }

.large {
    cursor: pointer;
    display: grid;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.25rem;
    color: transparent !important;
    background: transparent !important;
    border: none !important;  }

.large * {
    grid-row: 1;
    grid-column: 1; }

.large::after {
    background: var(--dark) !important;
    color: var(--light);
    padding: .5rem 2rem .6rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid var(--teal); }    

.large.ru::after { content: "обратно"; }
.large.en::after { content: "Return"; }

.large.stuck { 
    position: relative;
    justify-self: center;
    left: auto;
    transform: none;
    width: 10rem; }

.nav {
    cursor: pointer;
    position: relative;
    border: none;
    color: transparent !important;
    z-index: 2;
    width: 2.75rem;
    height: 2.75rem; 
}

.dark .nav { background: url("../resources/navigation/mtg-dark.png") center / contain no-repeat !important; }
.light .nav { background: url("../resources/navigation/mtg-light.png") center / contain no-repeat !important; }