.dark {
    --darker: #1F1F1F;
    --dark: #118E96;
    --light: #F1F1F1;
    --background: #363839;
    --teal: #0EAB8E;
    --ruby: #C01755; 
    --staticDark: #1F1F1F;
    --staticWhite: #FFFFFF; }

.light {
    --darker: #D1D9DE;
    --dark: #118E96;
    --light: #384B66;
    --background: #363839;
    --teal: #0A6A60;
    --ruby: #7D0833; 
    --staticDark: #1F1F1F;
    --staticWhite: #FFFFFF; }