.home-container {
    padding: 5rem 0 2rem 0;
    display: grid;
    justify-items: center;
    min-height: 100vh; }

.categories-container {
    display: grid;
    grid-gap: 1.5rem; 
    align-items: center; }

.categories-container > div {
    cursor: pointer;
    display: grid;
    height: 10rem;
    width: 13rem;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid var(--light);
    overflow: hidden; }

.categories-container > div > img {
    object-fit: contain;
    border: none;
    height: 100%;
    width: auto !important;
    justify-self: center; }

.categories-container > div > h1 {
    font-size: 1rem !important;
    padding: 1rem;
    align-self: end;
    border-top: 2px solid var(--light); }

.categories-announcements { background: #6dbecd !important; }
.categories-publications { background: #5eb8ae !important; }
.categories-events { background: #80d1d5 !important; }
.show-right { right: 0; }
.show-left { left: 0; }