.language-container,
.language-label,
.language-list li { 
    cursor: pointer;
    background: none !important; }

.language-container {
    border: none;
    justify-self: start;
    align-self: center;
    height: 1.5rem;
    width: 4rem;
    color: transparent !important;
    font-size: 1rem; }

.language-label {
    margin: auto;
    display: grid;
    z-index: 1;
    position: relative;
    align-self: center;
    font-weight: bold;
    height: 1.5rem;
    width: 3rem; }

.language-label::before {
    content: ""; 
    display: grid;
    position: absolute;
    right: -.5rem;
    top: 45%;
    transform: translateY(-45%);
    width: 2.25rem;
    height: 2.25rem; 
    background: var(--light);
    -webkit-mask-image: url("../resources/toggle.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: contain; 
    mask-image: url("../resources/toggle.svg");
    mask-position: center;
    mask-size: contain; 
    transition: transform .15s ease-in-out; }
    
.language-label::after {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    background: var(--dark);
    width: 100vw;
    height: 2.5rem; }

.language-label.open::before { transform: rotateX(180deg) translateY(50%); }
.language-label.open + .language-list { margin-top: .3rem; }
.language-label.closed + .language-list { margin-top: -5.5rem; }

.language-list {
    display: grid;
    grid-gap: .5rem;
    padding: .3rem 0 .5rem 0;
    justify-content: center;
    list-style-type: none;
    border: 1px solid var(--light);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: margin .25s ease-in-out; }

.language-list li { 
    font-size: 1.25rem;
    font-weight: 600; 
    margin: 0; }