.language-switcher {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 2px var(--light);
    padding: .75rem;
    padding-inline: 1.3rem;
    justify-self: start;
    align-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; }

.EN { background-image: url("../resources/en.png"); }

.RU { background-image: url("../resources/ru.png"); }