.language-switcher {
    border: none;
    border-radius: 5px;
    border: solid 2px var(--light);
    padding: .75rem;
    padding-inline: 1.3rem;
    margin: .5rem;
    justify-self: end;  
    align-self: start;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; }

.EN { background-image: url("../resources/en.png"); }

.RU { background-image: url("../resources/ru.png"); }