.menu-container {
    position: fixed;
    display: grid;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    padding-inline: 1rem;
    right: -100vw;
    -webkit-transition: right .5s ease-in-out;
    transition: right .5s ease-in-out;
    z-index: 2; }

.menu-container > * {
    grid-row: 1;
    grid-column: 1; }

.menu-content {
    display: grid;
    grid-template: min-content / auto;
    grid-gap: .5rem;
    height: min-content;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none; }

.menu-content.en .menu-item { width: max-content; }

.menu-item { 
    cursor: pointer; 
    padding-left: .5rem; }

.menu-item-separator {
    height: .1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--light) !important; }

.menu-toggle {
    cursor: pointer;
    display: grid;
    justify-self: end;
    height: min-content;
    width: 2rem; 
    align-items: center; }

.menu-toggle * {
    grid-row: 1;
    grid-column: 1;
    height: .35rem;
    list-style: none;
    background: var(--light) !important;
    margin: 0; }

.menu-toggle li:nth-child(1) { 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg); }

.menu-toggle li:nth-child(2) { 
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg); }