.navbar-container {
    height: 5rem;
    position: sticky;
    top: 0; 
    z-index: 1; }

.navbar-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    background: var(--darker) !important;
    height: 100%; 
    padding-inline: 1.5rem; }

.navbar-content > * {
    grid-column: 1;
    grid-row: 1; }

.navbar-logo {
    z-index: 2;
    width: 2.75rem;
    height: 2.75rem;
    background: none !important; }

.navbar-menu-toggle {
    cursor: pointer;
    display: grid;
    grid-gap: .3rem;
    z-index: 1;
    width: 2em;
    background: none !important;
    align-self: center; 
    transition: transform .15s ease-in-out; }

.navbar-menu-toggle * {
    list-style: none;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    height: .2rem;
    background: var(--light) !important; }

.navbar-menu-toggle.spin { transform: rotate(90deg); }