.navbar-container {
    height: 3.5rem;
    position: sticky;
    top: 0; 
    z-index: 1; }

.navbar-content {
    display: flex;
    justify-content: space-between;
    background: var(--dark) !important;
    height: 100%; 
    padding-inline: 1.5rem; }

.navbar-content > * {
    grid-column: 1;
    grid-row: 1; }

.navbar-menu-toggle {
    cursor: pointer;
    display: grid;
    grid-gap: .3rem;
    z-index: 2;
    width: 2em;
    background: none !important;
    justify-self: end;
    align-self: center; }

.navbar-menu-toggle * {
    list-style: none;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    height: .25rem;
    background: var(--light) !important; }