.selector-container,
.selector-label,
.selector-list li { 
    background: none !important; }

.selector-container {
    border: none;
    align-self: center;
    height: 1.5rem;
    width: min-content;
    color: transparent !important;
    font-size: 1rem; }

.selector-container::after {
    content: "";
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: var(--darker);
    width: 100vw;
    height: 2.5rem; }

.selector-label {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    height: 1.5rem;
    width: max-content; }

.selector-label::after {
    content: ""; 
    width: 2.25rem;
    height: 2.25rem; 
    background: var(--light);
    -webkit-mask-image: url("../resources/toggle.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: contain; 
    mask-image: url("../resources/toggle.svg");
    mask-position: center;
    mask-size: contain; 
    transition: transform .15s ease-in-out; }

.selector-label.open::after { transform: rotateX(180deg); }
.selector-label.open + .selector-list { margin-top: .3rem; }
.selector-label.closed + .selector-list { margin-top: -15rem; }

.selector-list {
    display: grid;
    grid-gap: .25rem;
    padding: .3rem 1.25rem .5rem;
    margin-left: -.6rem;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    z-index: 0;
    border: 1px solid var(--light);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: margin .25s ease-in-out; }

.selector-list li { 
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600; 
    margin: 0; }