.settings-container {
    display: grid;
    grid-template: min-content / auto;
    grid-gap: 3rem;
    position: relative;
    left: -100vw;
    -webkit-transition: left .5s ease-in-out, background .35s ease-out;
    transition: left .5s ease-in-out, background .35s ease-out;
    z-index: 1; }

.settings-options {
    font-size: 1.5rem;
    text-align: center;
    list-style: none; 
    background: none !important; }

.settings-option { 
    display: grid;
    grid-template: auto / repeat(2, min-content);
    grid-template-areas: "option switch";
    grid-gap: .75rem;
    align-items: center;
    justify-content: center;
    border: none; }

.settings-option::after {
    grid-area: switch;
    content: "";
    width: 4rem;
    height: 2rem;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: var(--dark) !important;
    transition: background .35s ease-out;  }

.settings-option p {
    grid-area: option;
    width: max-content;
    background: none !important }

.settings-option span {
    grid-area: switch;
    position: relative;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background: var(--light) !important;
    transition: left .25s ease-in-out, background .35s ease-out; }

.settings-option.on span { left: 2.1rem; }

.settings-option.off span { left: .15rem; }